.gnb_submenu{
    position: absolute;
    display: block;
    top: 57px;
    left: 0px;
    width: 1200px;
    box-sizing: border-box;
    height: 56px;
    padding-left : 120px;
    background-color: whitesmoke;
}

.gnb_submenu>li{
    display: inline-block;

}

.submenu_item{
    display: inline-block;
}
  
.submenu_link {
    display: block;
    padding: 15px 15px 0 0;
    font-size: 15px;
    line-height: 20px;
    color: #333;
}
  
.menu_item.active .submenu{
    display: block;
}
  
  /* 활성화 혹은 마우스 올려놓을 시 밑줄 위한 css >> after사용*/
.submenu_link span{
    position: relative;
    font-weight: bold;
}
/*   
.submenu_item:hover span,
.submenu_item.active span{
    color : #e5236d;
    font-weight: bold;
}
  
.submenu_item:hover span:after,
.submenu_item.active span:after {
    position: absolute;
    content: '';
    right: 0;
    bottom: -18px;
    left: 0;
    border-bottom: 2px solid #e5236d;
} */

.submenu_item:hover span{
    color : #e5236d;
    font-weight: bold;
}
  
.submenu_item:hover span:after {
    position: absolute;
    content: '';
    right: 0;
    bottom: -18px;
    left: 0;
    border-bottom: 2px solid #e5236d;
}